* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 94vw;
  height: 100vh;
  
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  column-gap:30px;
  justify-items: center;
  padding: 15px;
}

/* List item styling */

li {
  width: 250px;
  min-width: 240px;
  background-color: rgb(229, 227, 224);
  padding: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-demo{
    width: 16rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
  align-items: center;  
  border-radius: 5%; 
 }
 
 figure{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 figure >img{
     width: 7rem;
     height: 7rem;
 }
 
 li h1{
     font-size: 1.4rem;
     font-weight: bold;
     text-align: center;  
     margin-top:15px;
     text-transform: capitalize;

 }
 
 .card-demo:hover{
     scale: 1.1;
     transition:linear ease-in-out 3ms ;
 }
 
 .grid-three-cols{
 font-size: 15px;
 font-weight: 600;
 display: flex;
 flex-direction: row;
 gap: 12px;
 padding: 10px;
 
 }

 .pokemon-highlight{
    background-color: rgb(18, 135, 18);
    border-radius: 20px;
    font-size: 12px;
    padding:2px 10px ;
    color: white;
 }


.pokemon-info{
    text-align: center;
    font-size: 14px;
    
}

.second .pokemon-info{
    margin-left: 7px;
}

input{
    border-bottom:2px black solid ;
    margin: 10px;
    padding-left:5px;
    outline: none;
}
